@page
@model CDCHMailSystem.Pages.Account.LoginModel
@{
}

<<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <a asp-page="/User/Home" class="btn btn-secondary">Back to Home</a>
    <button type="submit">Login</button>
</form>

@if (Model.ErrorMessage != null)
{
    <p style="color: red;">@Model.ErrorMessage</p>
}